.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.ToggleBtn {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.ToggleBtn:hover {
  background-color: darkgreen;
}

.ToggleBtn.btnActive {
  background-color: red;  
}

.ToggleBtn.btnActive:hover {
  background-color: crimson;  
}

/*
Note: By the way, if you somehow also want to define a global (i.e. un-transformed) CSS class in such a .css  file, you can prefix the selector with :global .

Example:

:global .Post { ... }

Now you can use className="Post"  anywhere in your CockPit and receive that styling.
*/
